.boxgrd {
	// min-width: rem($content-min-width);
	// max-width: rem($content-max-width);
	display: grid;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 100%;
	&__headbar {
		min-width: rem($content-min-width);
	}
	&__mainbar {
		min-width: rem($content-min-width);
	}
	/*  */
	.boxgrd__place {
		position: relative;
	}
	// .boxgrd__place--top {
	// }
	// .boxgrd__place--a {
	// }
	// .boxgrd__place--c {
	// }
	// .boxgrd__place--d {
	// }
	// .boxgrd__place--b {
	// }
	/*  */
	.boxgrd__place--children {
		display: block;
		position: relative;
	}
}
