* -text
# Это указывает Git не переводить переносы строк из формата Unix (LF) в формат Windows (CRLF) автоматически.
# Таким образом, исходные файлы будут сохраняться в оригинальном формате и не будут изменяться при загрузке в Git.
