/* ========== Breadcrumbs : начало ========== */
:root {
	/* gradient */
	--breadcrumbs-link-fcolor: rgba(var(--clr-dark), var(--op-60));
	--breadcrumbs-link-fcolor-hover: rgba(var(--clr-dark), var(--op-80));
	/*  */
	--breadcrumbs-item-fcolor: rgba(var(--clr-dark), var(--op-80));
	--breadcrumbs-current-fcolor: rgba(var(--clr-dark), var(--op-80));
	/*  */
	--breadcrumbs-separator-fcolor: rgba(var(--clr-dark), var(--op-60));
}

/* ========== Breadcrumbs : конец ========== */