/* ========== Header and footer : начало ========== */
:root {
	--logosite-brand-color: rgba(var(--clr-dark), var(--op-80));
	--logosite-brand-color-hover: rgba(var(--clr-dark), var(--op-60));
	/* Footer */
	--copyright-fcolor: rgba(var(--clr-dark), var(--op-60));
}

/* ========== Header and footer : конец ========== */