/* ========== Dashboard : начало ========== */
:root {
	--dash-fcolor: rgba(var(--clr-dark), var(--op-80));
	--dash-heading-fcolor: rgba(var(--clr-dark), var(--op-80));
	--dash-description-fcolor: rgba(var(--clr-dark), var(--op-80));
	/* Servicebox */
	--dash-servicebox-heading-fcolor: rgba(var(--clr-dark), var(--op-60));
	--dash-servicebox-item-fcolor: rgba(var(--clr-dark), var(--op-80));
	/* Headbox */
	--dash-headbox-fcolor: rgba(var(--clr-dark), var(--op-60));
	--dash-headbox-heading-fcolor: rgba(var(--clr-dark), var(--op-60));
	--dash-headbox-label-fcolor: rgba(var(--clr-dark), var(--op-60));
	--dash-headbox-description-fcolor: rgba(var(--clr-dark));
	/*  */
	--score-caption-fcolor: rgba(var(--clr-dark), var(--op-60));
	--score-value-fcolor: rgba(var(--clr-dark), var(--op-80));
	/* chart */
	--chart-axis-fcolor: rgba(var(--clr-dark), var(--op-60));
	--chart-bgcolor: rgba(var(--clr-pale-lilac), var(--op-02));
	--chart-grid-line-color: rgba(var(--clr-dark), var(--op-06));
}

/* ========== Dashboard : конец ========== */