/* ========== Типография : начало ========== */
:root {
	/*  */
	--body-fcolor: rgba(var(--clr-dark), var(--op-60));
	/*  */
	/* Заголовки */
	--badge-bgcolor: rgba(var(--clr-tealish), var(--op-06));
	--badge-fcolor: rgba(var(--clr-tealish));

	--badge-attract-bgcolor: rgba(var(--clr-white), var(--op-06));
	--badge-attract-fcolor: rgba(var(--clr-white));

	/* ! Заголовки */
	--heading-fcolor: rgba(var(--clr-dark), var(--op-80));
	--heading-attract-fcolor: rgba(var(--clr-white));
	/* Имя пользователя под заголовковм в dashboard */
	--heading-subject-fcolor: rgba(var(--clr-dark), var(--op-60));

	/* * Описания */
	--desc-fcolor: rgba(var(--clr-dark), var(--op-60));
	--desc-attract-fcolor: rgba(var(--clr-white));
	/* * Списки */
	--list-bullet-color: rgba(var(--clr-tealish));
	/*  */
	--surface-fcolor: rgba(var(--clr-dark), var(--op-80));
	--surface-bgcolor: rgba(var(--clr-dark), var(--op-03));
}

/* ========== Типография : конец ========== */