.screengrd {
	// min-width: rem($content-min-width);
	// max-width: rem($content-max-width);
	display: grid;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 100%;
	&__headbar {
		min-width: rem($content-min-width);
	}
	&__mainbar {
		min-width: rem($content-min-width);
	}
	/*  */
	.screengrd__place {
		position: relative;
	}
	// .screengrd__place--top {
	// }
	// .screengrd__place--a {
	// }
	// .screengrd__place--c {
	// }
	// .screengrd__place--d {
	// }
	// .screengrd__place--b {
	// }
	/*  */
	.screengrd__place--children {
		display: block;
		position: relative;
	}
}
