.fbscreen {
	// --screen-placea-w: #{rem(445)};
	--screen-xp: #{rem(32)};
	--screen-yp: #{rem(48)};
	@include bp(md) {
		--screen-xp: #{rem(40)};
		--screen-yp: #{rem(40)};
	}
	@include bp(xl) {
		--screen-xp: #{rem(95)};
		--screen-yp: #{rem(95)};
	}
	//
	// Place A - padding x and y:
	--screen-plca-xp: #{rem(32)};
	--screen-plca-yp: #{rem(0)};
	@include bp(md) {
		--screen-plca-xp: #{rem(40)};
		--screen-plca-yp: #{rem(0)};
	}
	@include bp(xl) {
		--screen-plca-xp: #{rem(95)};
		--screen-plca-yp: #{rem(0)};
	}
	// Place B - padding x and y:
	--screen-plcb-xp: #{rem(0)};
	--screen-plcb-yp: #{rem(0)};
	@include bp(md) {
		--screen-plcb-xp: #{rem(58)};
		--screen-plcb-yp: #{rem(0)};
	}
	@include bp(xl) {
		--screen-plcb-xp: #{rem(0)};
		--screen-plcb-yp: #{rem(0)};
	}
	@include bp(md) {
		padding-left: var(--global-content-xp);
		padding-right: var(--global-content-xp);
		//
		padding-top: var(--global-screen-yp);
		padding-bottom: var(--global-screen-yp);
	}
}

.fbscreen {
	.screengrd {
		width: fit-content;
		&__mainbar {
			display: grid;

			@include bp(xl) {
				grid-auto-flow: column;
				grid-template-columns: 1fr 1fr;
				column-gap: rem(30);
			}
		}
		&__place {
		}
		&__place--a {
			padding-top: var(--screen-plca-yp);
			padding-bottom: var(--screen-plca-yp);
			text-align: left;
			@include bp(md) {
				text-align: center;
			}
			@include bp(xl) {
				text-align: left;
			}
			.heading {
				--badge-pb: #{rem(7)};
				--heading-pb: #{rem(32)};
				@include bp(md) {
					--badge-pb: #{rem(19)};
					--heading-pb: #{rem(26)};
				}
			}
			.description {
				padding-bottom: rem(32);
				max-width: rem(545);
				@include bp(md) {
					line-height: 1.5;
					padding-bottom: rem(25);
				}
				@include bp(xl) {
					max-width: 100%;
				}
			}
		}
		&__place--b {
			padding-left: var(--screen-plcb-xp);
			padding-right: var(--screen-plcb-xp);
			padding-top: var(--screen-plcb-yp);
			padding-bottom: var(--screen-plcb-yp);
		}
	}
}
