/* ========== Разделитель (в формах) : начало ========== */
:root {
	--flbk-divider1-bs-1: rgba(var(--clr-tealish), var(--op-12));
	--flbk-divider1-bs-2: rgba(var(--clr-spruce), var(--op-12));
	--flbk-divider1-bs-3: rgba(var(--clr-tealish), var(--op-24));

	--flbk-divider1-bg-lgrcolor-1: rgba(var(--clr-aqua), 12%);
	--flbk-divider1-bg-lgrcolor-2: rgba(var(--clr-aqua));
	--flbk-divider1-bg-lgrcolor-3: rgba(var(--clr-aqua), 12%);
}

/* ========== Разделитель (в формах) : конец ========== */
