.nodevideoscreen {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	padding-left: var(--global-content-xp);
	padding-right: var(--global-content-xp);
	--tealish-12: rgba(33, 189, 210, 0.12);
	--spruce-12: rgba(10, 70, 82, 0.12);
	--tealish-24: rgba(33, 189, 210, 0.24);
	--tealish: #21bdd2;
	--aqua: #19daeb;
	--neon-blue: #00dfff;
	@include bp(floor) {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	@include bp(md) {
		padding-top: 4.5rem;
		padding-bottom: 4.5rem;
	}
	.screengrd {
		&__headbar {
			.screengrd__place {
				&--top {
					display: flex;
					flex-direction: column;
					align-items: center;
					gap: 2rem;
					.description {
						width: fit-content;
						@include bp(floor) {
							padding: 0;
							p {
								text-align: center;
							}
						}
						@include bp(lg) {
							padding: 1rem 1rem 0;
							p {
								text-align: left;
							}
						}
					}
				}
			}
		}
		&__mainbar {
			.screengrd__place {
				&--a {
					position: relative;
					.rectangle1 {
						position: absolute;
						top: -40px;
						right: -40px;
						width: 147px;
						height: 147px;
						opacity: 0.24;
						border-radius: 260px;
						-webkit-filter: blur(50px);
						filter: blur(50px);
						box-shadow:
							0 8px 8px -4px var(--tealish-12),
							0 2px 4px -1px var(--spruce-12),
							0 0 1px 0 var(--tealish-24);
						background-image: linear-gradient(
							135deg,
							var(--tealish) 2%,
							var(--aqua) 51%,
							var(--neon-blue)
						);
					}
					.rectangle2 {
						position: absolute;
						bottom: 180px;
						left: -70px;
						width: 147px;
						height: 147px;
						opacity: 0.24;
						border-radius: 260px;
						-webkit-filter: blur(50px);
						filter: blur(50px);
						box-shadow:
							0 8px 8px -4px var(--tealish-12),
							0 2px 4px -1px var(--spruce-12),
							0 0 1px 0 var(--tealish-24);
						background-image: linear-gradient(
							135deg,
							var(--tealish) 2%,
							var(--aqua) 51%,
							var(--neon-blue)
						);
					}
				}
			}
		}
	}
}
