:root {
	// Opacity
	--op-0: 0;
	--op-02: 0.02;
	--op-03: 0.03;
	--op-04: 0.04;
	--op-06: 0.06;
	--op-08: 0.08;
	--op-09: 0.09;
	/*  */
	--op-12: 0.12;
	--op-24: 0.24;
	/*  */
	--op-40: 0.4;
	--op-48: 0.48;
	--op-60: 0.6;
	--op-69: 0.69;
	--op-80: 0.8;
	--op-100: 1;
	// Colors
	--clr-white: 255, 255, 255;
	/*  */
	--clr-fldtxt: 224, 224, 255;
	--clr-pale-lilac: 224, 224, 255;
	--clr-pale-lilac2: 224, 224, 255;
	/*  */
	--clr-tealish: 33, 189, 210;
	--clr-aqua: 25, 218, 235;
	--clr-bright-aqua: 17, 220, 242;
	--clr-neon-blue: 0, 223, 255;
	--clr-neon-blue2: 13, 221, 245;
	--clr-spruce: 10, 70, 82;
	//
	--clr-dark-indigo: 27, 10, 82;
	--clr-midnight-purple: 20, 1, 41;
	/*  */
	--clr-dark: 20, 16, 41;
	--clr-charcoal-grey: 69, 74, 83;
	--clr-charcoal-grey-dark-bright: 45, 47, 51;
	--clr-charcoal-grey-dark: 44, 48, 54;
	--clr-charcoal-grey-dark-dusk: 40, 42, 46;
	--clr-dark-grey: 33, 36, 41;
	--clr-dark-grey2: 41, 43, 46;
	--clr-pale-grey: 250, 251, 252;
	--clr-pale-grey2: 245, 247, 250;
	--clr-pale-grey3: 235, 239, 245;
	--clr-almost-black: 9, 13, 20;
	--clr-almost-black2: 9, 14, 20;
	/* Цвет ошибки поля: */
	--clr-watermelon: 245, 69, 98;
	/*  */
	--clr-navside: 25, 218, 235;
	/*  */
	--clr-bluebird: 0, 187, 255;
	--clr-dodgerblue: 69, 121, 245;
	/*  */
	--clr-wave: 0, 255, 170;
	--clr-sunset: 245, 69, 98;
}
