/* ========== Framed attract - градиент и box-shadow : начало ========== */
:root {
	/* gradient */
	--frmdattract-bg-lgrcolor-1: rgba(var(--clr-tealish));
	--frmdattract-bg-lgrcolor-2: rgba(var(--clr-aqua));
	--frmdattract-bg-lgrcolor-3: rgba(var(--clr-neon-blue));
	/* boxshadow */
	--frmdattract-bscolor-1: rgba(var(--clr-tealish), var(--op-12));
	--frmdattract-bscolor-2: rgba(var(--clr-spruce), var(--op-12));
	--frmdattract-bscolor-3: rgba(var(--clr-tealish), var(--op-24));
}

/* ========== Framed attract - градиент и box-shadow : конец ========== */