.list--checkmark {
	line-height: 1.56;
	display: grid;
	--flbk-list-rg: #{rem(14)};
	row-gap: var(--list-rg, var(--flbk-list-rg));
	li {
		font-size: rem(16);
		@include bp(md) {
			font-size: rem(18);
		}
		font-weight: 500;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: min-content auto;
		column-gap: rem(12);
		align-items: start;
		color: var(--desc-fcolor, var(--flbk-desc-fcolor));
		&::before {
			content: "";
			font-size: rem(24);
			line-height: 1.68;
			@include iconf;
			@include iconf--status_on;
			color: var(--list-bullet-color, var(--flbk-list-bullet-color));
		}
		&,
		&::before {
			/* === Transitions : begin === */
			transition-property: color;
			transition-duration: var(--colorscheme-transition-duration);
			/* === Transitions : end === */
		}
	}
}
