/* ========== Intro : начало ========== */
:root {
	--flbk-intro-fcolor: rgba(var(--clr-white));
	--flbk-intro-bgcolor: rgba(var(--clr-dark-grey));
	/*  */
	--flbk-heading-intro-fcolor: rgba(var(--clr-white));
	--flbk-desc-intro-fcolor: rgba(var(--clr-fldtxt), var(--op-60));
	/*  */
	--flbk-intro-btn-fcolor: rgba(var(--clr-dark-grey2));
}

/* ========== Intro : конец ========== */
