/* -------------------- sidemenu - base : начало -------------------- */
.sidemenu {
	display: grid;
	row-gap: rem(8);
	user-select: none;
	&__item {
		font-weight: 600;
		font-size: rem(16);
		line-height: 1.5;
		position: relative;
		&::before {
			position: absolute;
			left: 0;
			top: rem(12);
			bottom: rem(12);
			z-index: 1;
			content: "";
			width: rem(2);
		}
	}
	&__link {
		position: relative;
		z-index: 0;
		text-decoration: none;
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		grid-template-columns: rem(24) auto;
		column-gap: rem(24);
		padding-left: rem(24);
		padding-right: rem(24);
		padding-top: rem(12);
		padding-bottom: rem(12);
		color: var(--sidemenu-item-fcolor, var(--flbk-sidemenu-item-fcolor));
		span {
			text-transform: capitalize;
		}
		&::before {
			content: "";
			@include iconf;
			font-size: rem(24);
			display: block;
			color: var(--sidemenu-icon-color, var(--flbk-sidemenu-icon-color));
		}
		&[data-icon="personal"]::before {
			@include iconf--personal;
		}
		&[data-icon="dashboard"]::before {
			@include iconf--dashboard;
		}
		&[data-icon="configurator"]::before {
			@include iconf--configurator;
		}
		&[data-icon="invoices"]::before {
			@include iconf--invoices;
		}
		&[data-icon="signout"]::before {
			@include iconf--signout;
		}
	}
	&__item.active,
	&__item:hover {
		background-color: var(
			--sidemenu-item-bgcolor-active,
			var(--flbk-sidemenu-item-bgcolor-active)
		);
		&::before {
			background-color: var(
				--sidemenu-decorator-color-active,
				var(--sidemenu-decorator-color-active)
			);
		}
		.sidemenu__link {
			color: var(--sidemenu-item-fcolor-active, var(--flbk-sidemenu-item-fcolor-active));
			&::before {
				color: var(--sidemenu-icon-color-active, var(--flbk-sidemenu-icon-color-active));
			}
		}
	}

	&__item,
	&__link,
	&__item::before,
	&__link::before {
		/* === Transitions : begin === */
		transition-property: color, background-color;
		transition-duration: var(--simple-transition-duration);
		/* === Transitions : end === */
	}
}
/* -------------------- sidemenu - base : конец -------------------- */
