.glowdcr[data-variant="nodebox"] {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	padding-left: var(--global-content-xp);
	padding-right: var(--global-content-xp);
	z-index: 0;

	.glowdcr__helper {
		margin: 0 auto;
		position: relative;
		// background: #f00;
		width: 100%;
		height: 100%;
		min-width: rem($content-min-width);
		max-width: rem($tmpl-over-width);
		// border: solid 1px red;

		max-width: rem(920); // ***** Ширина nodescreen *****

		// !
		// width: auto;

		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto;
		column-gap: 0;

		// border: solid 2px red;

		@include bp(md) {
			// width: 100%;
			grid-auto-flow: column;
			grid-template-columns: auto;
			column-gap: 0;
		}
		@include bp(lg) {
			grid-auto-flow: row;
			grid-template-columns: 340fr 409fr;
			// @include a-cg(91, 0);
			column-gap: rem(91);
		}

		// align-content: center;

		// background: #00f8;
		[class$="__a"],
		[class$="__b"] {
			// border: solid 1px lime;
		}
		[class$="__a"] {
			// position: absolute;
			position: relative;

			// border: solid 10px pink;

			@include bp(md) {
			}
			@include bp(lg) {
			}

			&::before {
				content: "";
				display: block;
				position: absolute;

				left: rem(0);
				right: rem(0);
				top: rem(16);
				bottom: rem(16);
				@include bp(md) {
					left: calc((-1) * (var(--global-content-xm) - #{rem(18)}));
					right: calc((-1) * (var(--global-content-xm) - #{rem(19)}));
					top: rem(-39);
					bottom: rem(-40);
				}
				@include bp(lg) {
					left: rem(-19);
					right: rem(-117);
					top: rem(-92);
					bottom: rem(-104);
				}

				@include glow;
			}
		}
		[class$="__b"] {
			display: none;
			@include bp(md) {
				display: none;
			}
			@include bp(lg) {
				display: inline-block;
			}
		}
	}
}
