.input--checkbox {
	font-family: "icomoon" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	color: inherit;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.input--checkbox {
	//
	position: relative;
	z-index: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	//
	width: rem(24);
	height: rem(24);
	font-size: rem(14);
	border-radius: rem(4);
	box-shadow: inset 8px 8px 40px 0 var(--inputcb-bs-ins-1, var(--flbk-inputcb-bs-ins-1)),
		inset -4px -4px 8px 0 var(--inputcb-bs-ins-2, var(--flbk-inputcb-bs-ins-2)),
		inset 0 1px 1px 0 var(--inputcb-bs-ins-3, var(--flbk-inputcb-bs-ins-3));
	border: solid 1px var(--inputcb-brdcolor, var(--flbk-inputcb-brdcolor));
	background-image: linear-gradient(
		to bottom,
		var(--inputcb-bg-lgrcolor-1, var(--flbk-inputcb-bg-lgrcolor-1)),
		var(--inputcb-bg-lgrcolor-2, var(--flbk-inputcb-bg-lgrcolor-2)) 53%,
		var(--inputcb-bg-lgrcolor-3, var(--flbk-inputcb-bg-lgrcolor-3))
	);
	/* === Transitions : begin === */
	transition-property: color, border-color, background-color, box-shadow, opacity;
	transition-duration: var(--simple-transition-duration);
	/* === Transitions : end === */
	&::before,
	&::after {
		content: "";
		display: block;
		/* === Transitions : begin === */
		transition-property: color, border-color, background-color, box-shadow, opacity;
		transition-duration: var(--simple-transition-duration);
		/* === Transitions : end === */
	}
	&::before {
		position: absolute;
		border-radius: 0;
		opacity: 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		box-shadow: 0 8px 8px -4px var(--inputcb-marker-bs-1, var(--flbk-inputcb-marker-bs-1)),
			0 2px 4px -1px var(--inputcb-marker-bs-2, var(--flbk-inputcb-marker-bs-2)),
			0 0 1px 0 var(--inputcb-marker-bs-3, var(--flbk-inputcb-marker-bs-3));
		background-image: linear-gradient(
			135deg,
			var(--inputcb-marker-bg-lgrcolor-1, var(--flbk-inputcb-marker-bg-lgrcolor-1)) 2%,
			var(--inputcb-marker-bg-lgrcolor-2, var(--flbk-inputcb-marker-bg-lgrcolor-2)) 51%,
			var(--inputcb-marker-bg-lgrcolor-3, var(--flbk-inputcb-marker-bg-lgrcolor-3))
		);
	}
	&::after {
		content: "\e912";
		font-size: inherit;
		display: block;
		position: relative;
		color: var(--inputcb-marker-color, var(--flbk-inputcb-marker-color));
		opacity: 0;
		transform: scale(0.6);
		z-index: 1;
	}
	input {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		appearance: none;
		pointer-events: all;
		cursor: pointer;
		z-index: 2;
		border-radius: rem(4);
		margin: 0;
		padding: 0;
		display: block;
		background: transparent;
		border: none;
	}
}
.input--checkbox {
	&:focus-within {
		&::before {
			opacity: 0.1;
		}
		&::after {
		}
	}
	&:hover {
		&::before {
			opacity: 0.5;
		}
		&::after {
			transform: scale(0.6);
			opacity: 0.5;
		}
	}
}
.input--checkbox[data-checked="true"] {
	&::before {
		opacity: 1;
	}
	&::after {
		transform: scale(1);
		opacity: 1;
	}
}
