/* ========== Breadcrumbs : начало ========== */
:root {
	/* gradient */
	--flbk-breadcrumbs-link-fcolor: rgba(var(--clr-fldtxt), var(--op-60));
	--flbk-breadcrumbs-link-fcolor-hover: rgba(var(--clr-fldtxt));
	/*  */
	--flbk-breadcrumbs-item-fcolor: rgba(var(--clr-white));
	--flbk-breadcrumbs-current-fcolor: rgba(var(--clr-white));
	/*  */
	--flbk-breadcrumbs-separator-fcolor: rgba(var(--clr-fldtxt), var(--op-40));
}

/* ========== Breadcrumbs : конец ========== */
