.description {
	font-size: rem(14);
	line-height: 1.71;
	font-weight: 500;
	letter-spacing: normal;
	color: inherit;
	color: var(--desc-fcolor, var(--flbk-desc-fcolor));

	@include bp(md) {
		font-size: rem(18);
		line-height: 1.8;
	}
	@include bp(xl) {
		font-size: rem(20);
		line-height: 1.8;
	}

	&[data-variant*="attract"] {
		color: var(--desc-attract-fcolor, var(--flbk-desc-attract-fcolor));
	}

	/* === Transitions : begin === */
	transition-property: color, border-color, background-color, box-shadow, opacity;
	transition-duration: var(--colorscheme-transition-duration);
	/* === Transitions : end === */
}
