/* ========== Header and footer : начало ========== */
:root {
	--flbk-logosite-brand-color: rgba(var(--clr-white), var(--op-80));
	--flbk-logosite-brand-color-hover: rgba(var(--clr-white), var(--op-60));
	/* Footer */
	--flbk-copyright-fcolor: rgba(var(--clr-pale-lilac));
}

/* ========== Header and footer : конец ========== */
